body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: rgb(239, 239, 239);
}
h1{
    font-size: 55px;
    margin: 0;
    padding: 0;
    color: #382377;
}
h3{
    color: #bf00ff;
}
h4{
    font-size: 18px;
    color: #7b8a8a;
}
span{
    color: #ff4000 ;
}
p{
    color: darkgreen;
}
section{
    height: 545px;
}
.header-part{
    width: 100%;
    height: 60px;
    margin-bottom: 3%;
    background-image:  linear-gradient(45deg,#3a3125,#31243d,#111f2b);
}
.item li{
    list-style-type: none;
    display: inline;
}
.item li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.item{
    float: right;
}
.item .item-link{
    padding-left: 12px;
    padding-right: 12px;
}
.container{
    width: 90%;
}

.half-part{
    width: 40%;
    float: left;
}

.half-part img{
    width: 100%;
}
.leftSide{
    margin-left: 6%;
    padding-left: 1%;
    margin-top: 8%;
}
.rightSide{
    margin-left: 6%;
}
.half-part a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, #00ff80,#bf00ff);
    padding: 8px 23px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    line-height: 4;
}
.second-part{
    margin-bottom: 4%;
}
.latest-work{
    width: 25%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 1%;
    box-shadow: 5px 10px 25px grey;
    border-radius: 16px;
    padding: 4px 12px;
    background-color: white;
}
.latest-work img{
    width: 100%;
    margin-top: 15px;
}
.latest-work a{
    text-decoration: none;
}
.third-part{
    margin-bottom: 6%;
    background-color: #a9bfbf;
}
.third-part h1{
    padding-top: 2%;
    text-align: center;
}
.four-part{
    background-image: url(image/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}
.four-part h1{
    color: white;
    font-size: 50px;
    padding-top: 5.5%;
    display: inline-block;
    padding-left: 7%;
}
.inquiry{
    padding: 10px 15px;
    background-image: linear-gradient(45deg, #ff00f2,#5eff00);
    margin-left: 78%;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    display: block;
    margin-top: -6.5%;
    outline: none;
    border: 1px solid tomato;
    text-decoration: none;
    width: 12%;
    text-align: center;
}

.contact-description h2{
    text-align: center;
}
.row{
    width: 36%;
    margin-left: auto;
    margin-right: auto
}
.contact-description h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 4%;
}
.col{
    margin-top: 6px;
    margin-bottom: 2%;
    text-align: center;
    padding: 10px;
}
.form-control{
    width: 100%;
    border-radius: 5px;
    color: black;
    border: 2px solid black;
    padding: 22px 10px;
}
textarea{
    height: 140px;
}
.button{
    padding: 10px 70px;
    color: white;
    font-size: 600;
    background-color: #262a4a;
    border-radius: 6px;
    font-size: 18px;
}
.contact-section{
    margin-top: 5%;
}


.contact-portion{
    text-align: center;
    margin-top: 4%;
}
.contact-portion h2{
    font-size: 35px;
    line-height: 0;
}
.contact-portion h2{
    color: #5a4a88;
}
.social-icon li{
    display: inline-block;
    margin-right: 20px;
}
.social-icon li img{
    width: 40px;
    height: 40px;
}
.social-icon{
    margin-left: 41%;
    margin-top: 3%;
}

footer{
    background-color: rgb(52, 26, 85);
    height: 40px;
}

.last-part p{
    color:#95f74c;
    padding-top: 10px;
    text-align: center;
}